.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: #00ff00;
  background: url('./assets/img/login6.webp') no-repeat;
  background-position: center;
  background-size: cover;
}

.form-box{
  position: relative;
  width: 400px;
  height: 630px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-box.register-box{
  position: relative;
  width: 400px;
  height: 650px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
}

h2{
  font-size: 2em;
  color:#fff;
  text-align: center;
}

.inputbox{
  position: relative;
  margin:30px 0;
  width: 310px;
  border-bottom: 2px solid #FFD700;
}

.inputbox label{
  position: absolute;
  top:50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1em;
  pointer-events: none;
  transition: top 0.3s ease, font-size 0.3s ease;
}
input:focus ~ label,
input:not(:placeholder-shown) ~ label{
  top: -5px;
  font-size: .9em;
}
.inputbox input:not(:focus):not(:valid) ~ label {
  top: 50%;
  font-size: 1em;
}
.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding:0 35px 0 5px;
  color: #fff;

}

.inputbox ion-icon{
  position: absolute;
  right: 8px;
  color: #fff;
  top: 20px; 
}

.forget{
  margin: -15px 0 15px;
  font-size: .9em;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


button{
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
}

.register{
  /* width: 300px; */
  font-size: .9em;
  color: #fff;
  margin: 25px 0 10px;
}

.register p a{
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
.register p a:hover{
  text-decoration: underline;
}


.remember-me {
  display: flex;
  color: #fff;
  margin-top: 20px;
}

.remember-me input[type="checkbox"] {
  
  width: 18px;
  height: 20px;
  margin-right: 10px;
  accent-color: #ffaf40; /* change checkbox color */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.remember-me input[type="checkbox"]:checked {
  transform: scale(1.2); /* add a scaling effect */
}

.remember-me span {
  font-size: 1.1em;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s;
}

.remember-me span:hover {
  color: #ffaf40; /* change when hovering */
}


.line-with-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
}

.line {
  flex: 1;
  height: 2px;
  background-color: #ffaf40; /* Màu của đường kẻ */
  margin: 0 10px; /* Khoảng cách giữa các đường kẻ */
  position:relative;
}

.text {
  font-size: 1.2em;
  color: #fff; /* Màu của chữ */
  padding: 0 10px; /* Khoảng cách giữa chữ và đường kẻ */
}

.line::before, .line::after {
  content: ''; 
  position: absolute;
  bottom: 1px;
  width: 8px; /* the width of diamond */
  height: 8px; /* the height of diamond */
  background-color: #ffaf40; /* the color of the diamond*/
  transform: rotate(45deg); /* rotate the square into the diamond */
}
/* the diamond in the right */
.line::before {
  left: -8px; /* align the diamond to the left and right */
  top: -3px; /* align the diamond to the top and bottom*/

}
/* the diamond in the right */
.line::after {
  right: -7px; /* align the diamond to the left and right */
  top: -3px; /* align the diamond to the top and bottom*/
}

.forgot-password{
  margin-top: 20px;
  font-size: 1.1em;
  
}

.google-button{
  position: relative;
  display: flex;
  align-items:center;
  justify-content: center;
  padding: 15px 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.google-button img{
  position: absolute;
  width: 30px;
  left: 13px;
}



/* alert dialog in the login page */

/* Style chung cho thông báo lỗi */
.alert {
  /* margin-top: 10px; */
    width: 300px;
    height: 60px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
  padding: 5px;
  margin: 20px 0;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  opacity: 0; /* Đặt mặc định là ẩn */
  animation: fadeIn 0.5s forwards;
}

/* Cảnh báo lỗi - màu đỏ */
.alert-danger {
  
    font-size: 1em;
    font-weight: 600;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

/* Hiệu ứng fade in khi thông báo xuất hiện */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Hiệu ứng hover để làm nổi bật cảnh báo */
.alert-danger:hover {
  
  background-color: #f5c6cb;
  border-color: #f1a7b2;
}
